@media (max-width:800px) {
    .hero-main h3{
    color: blue;
    font-size: 20px;
}

.hero-main h1{
   /* max-width: 500px; */
   font-size: 100px;
 
}
.hide{
    display: none;
}

.menu{
  display: block;
}
nav{


    margin: 30px 100px;
}
.hero-socials{
 
     margin: 0px 50px;
}
.about-me{
    flex-direction: column;
}
.right img{
    width: 400px;
}
.left{
    margin-top: 50px ;
    /* margin-left: 20px; */
}
.left p {
    max-width: 900px;
  
}
.cont-left {
    
    margin:0px;
}
.form-group {

    width: 400px;
}
.info {
 
    padding: 0px;

}
.slideup{
    padding: 60px 0px;
} 

}


@media (max-width:500px) {
    .togglebutton{
     display:block; 
     
}
/* .list{
    display: none;
} */
.hero-main h1{
   margin: 50px;
      font-size: 90px;
}
.right img{
    width: 300px;
}
.box-content {
    width: 450px;
    height:auto;
   
}
/* .box {
   flex-grow: calc();    
} */
}