
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
      height: 100vh;
      overflow: hidden;
      font-family: Arial, sans-serif;
    }
:root{

   --background-color: white;
       --text-color: rgb(52, 52, 139);
          --buttonone-color: rgb(23, 48, 189);
          --font-size: 20px;
          --button: 
          

}
ul{
    list-style: none;

}
li{
     list-style: none;
}

ul li a{
    text-decoration: none;

}
button{
    width: 150px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    text-transform: capitalize;
    border: none;
    outline: none;
    color: #fff   ;
    background:linear-gradient(to right, #090f10, #1346ad, #1346ad);
}

.bounce-in {
  display: inline-block;
    overscroll-behavior: contain;
  animation: bounceIn 1s ease-out forwards;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

hr{
    margin-top: 20px;
}
body{
    background-color: var(--background-color);
      font-family: "Roboto", sans-serif;  
}

/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
}
.list{
    display: flex;
    padding-left: 20px;
    text-transform: capitalize;
}
.list li{
    margin-left: 20px;
   
}
.list li a{
      color: #073c6b; 
      transition: all 0.5s ease-in;
       font-size: var(--font-size);
}
.list li a:hover{
    color: white;
    padding: 10px;
    border-radius: 3px;
    background-color: rgb(10, 73, 150);
}
.logo img{
    width: 50px;
}
/* togglebutton */
.togglebutton{
   width: 20px;
   height: 20px;
   background-color: blue;
   cursor: pointer;
   display: none;
  
}

.sidebar{
  position: fixed;
  top:0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  color: #090f10;
  /* background-color: #e6ebed; */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.sidebar li a:hover{
 background-color: #e6ebed;
}
.sidebar li{
  width: 100%;
  padding: 20px;
}

.menu{
  display: none;
  color: #073c6b;
  font-size: 30px;
}

/* hero section */
.hero{
    min-height: 50vh;
    text-transform: uppercase;
}
.hero-main{
    text-align: center;
    margin: 100px auto;
    max-width: 900px;
    line-height: 0.97;
      font-family: "Lilita One", sans-serif;

}
.hero-main h1{
    color: transparent;
    font-size: 11vw;
   background:linear-gradient(to right, #090f10, #0d70c8,#17191a);
   background-clip: text;
}
.hero-main h3{
  line-height: 0;
    font-size: var(--font-size);
}
.hero-socials{
    display: flex;
    justify-content: space-between;
     margin: 0px 150px;
}
.social li a i{
    /* padding-top: 10px; */
    color:#073c6b ;

}
.lang li a i{
    /* margin-top: 10px; */
    color:#073c6b ;

}
.hero-main h3{
    color: rgb(11, 61, 111);
    font-size: 30px;
}



/* portfolio */

.images{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 150px;
    justify-content: center;
    align-items: center;
}
.box-two{
     width: 350px;
          height: 350px;
          padding: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
     background-color: rgb(0, 166, 255);
}
.box-two img{
   width: 150px;
}

.port-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.port-nav ul li{
    padding-left: 20px;
    text-transform: capitalize;
}
/* contact */
.cont-left{

    margin: 100px ;
}
.cont-left h1{
    text-transform: capitalize;
    font-size: 30px;
}
.cont-left p{
    max-width: 400px;
    font: size 12px;
}
.info{
    display: flex;
    padding: 30px 32px;
    text-transform: capitalize;
   
}
.contact-page {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  background: #111;
  color: #fff;
}

.contact-page h1 {
  margin-bottom: 10px;
}

.contact-page p {
  margin-bottom: 30px;
  color: #ccc;
}

.form-group {
  margin-bottom: 20px;
    width: 500px;
}


label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
}

input, textarea {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
}

textarea {
  resize: none;
}

.form-group button {
  width: 100%;
  padding: 14px;
  background: #00aeff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
select {
  width: 100%;
  padding: 16px;
  border-radius: 6px;
  border: none;
}


button:hover {
  opacity: 0.9;
}

.form-status {
  margin-top: 15px;
  font-size: 14px;
}

.info ul{
       margin-top: 20px;
}
.info ul li{
       padding-right: 20px;
        line-height: 2;
        font-size: 30px;
}

.name-info{
    padding-left: 20px;
   
}
.full-info {
margin-top: 20px;
}
.full-info h1{
    font-size: 20px;
}
.full-info p{
     font: size 12px;
}



    /* HOME */
    #home {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #f5f5f5;
    }

    /* ABOUT */
 .slideup {
  position: fixed;
  inset: 0; 
  background: #f6f4f4;

  padding: 40px;
  transform: translateY(100%);
  transition: transform 0.6s ease;
  z-index: 1000;
    overflow-y: auto; 
}

.slideup.active {
  transform: translateY(0);
}

    button {
      padding: 12px 20px;
      font-size: 16px;
      cursor: pointer;
    }

.closeAbout {
    position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(13, 162, 226);
  cursor: pointer;
    }